<div class="jumbotron text-center">
  <h1>Менеджер флеш-карточек</h1>
  <p class="lead">Учите слова в любое время по эффективной системе интервальных повторений</p>
  <p class="lead">
    <%= link_to "Войти", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Зарегистрироваться",new_user_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>
