<h1>Первый в мире удобный менеджер флеш-карточек. <br> Именно так!</h1>

<%= render "shared/flash" %>

<% if @card %>
  <div class="cards">
    <%= render "cards/card_task" %>
  </div>
<% else %>
  <h2>Все карты повторены!</h2>
<% end %>
