<h1>
  Первый в мире удобный менеджер флеш-карточек. <br> Именно так!
</h1>

<% if flash[:notice] == "Правильно" %>
  <div class="alert alert-success alert-large text-center" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:notice] == "Неправильно" %>
  <div class="alert alert-danger alert-large text-center" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="cards">
  <%= render "cards/card_task" %>
</div>
