<h1>
  Первый в мире удобный менеджер флеш-карточек. <br> Именно так!
</h1>

<% flash.each do |type, message| %>
  <div class="<%= flash_class(type) %> alert-large text-center"> <%= message %> </div>
<% end %>

<div class="cards">
  <%= render "cards/card_task" %>
</div>
