$original-text-color: #279B61;
$translated-text-color: #CC3333;
$cards-link-color: #008AB8;

.cards {
  text-align: center;
  font-size: 0;

  &-item {
    width: 200px;
    margin: 0 auto 20px;
    border: 1px solid #777;
    font-size: 14px;
    text-align: center;
    box-shadow: 2px 2px 5px #000;

    & > hr {
      margin: 0;
      border-top: 1px solid #000;
    }
  }

  &-panel {
    margin: 10px 0;
  }

  &-text {

    &-original {
      color: $original-text-color;
    }

    &-translated {
      color: $translated-text-color;
    }
  }

  &-link {
      color: $cards-link-color
  }

}

@media (min-width: 1200px) {
  .cards {
    margin-left: 50px;

    &-item {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-right: 50px;
    }
  }
}
