<h2>Все карточки</h2>
<ul class="cards">
  <% @cards.each do |card| %>
  <li class="cards-item">
    <span class="cards-text cards-text-original"><%= card.original_text %></span>
    <hr />
    <span class="cards-text cards-text-translated"><%= card.translated_text %></span>
    <hr />
    <span class="cards-date">Повторить: <%= card.review_date.strftime("%d/%m/%Y") %></span>
  </li>
  <% end %>
</ul>
