<% if flash[:notice] == "Правильно" %>
  <div class="alert alert-success alert-large text-center" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:notice] == "Неправильно" %>
  <div class="alert alert-danger alert-large text-center" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="cards">
  <%= render "card_task" %>
</div>


