@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";

$error-frame-color: #a94442;
$alert-large-fs: 20px;
$link-color: #008AB8;

h2 {
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: $link-color
}

.input-group {
  margin-bottom: 10px;
}

.form-control.error {
  box-shadow: 0px 0px 7px $error-frame-color;
}

.alert-large {
  font-size: $alert-large-fs
}

.btn {
  margin-right: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;

  & input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
  }
}
