$error-frame-color: #a94442;
$alert-large-fs: 20px;

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

.form-control.error {
  box-shadow: 0px 0px 7px $error-frame-color;
}

.alert-large {
  font-size: $alert-large-fs
}
