ul {
  padding: 0;
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  /* hack for mozilla to hide select's arrow */
  text-indent: 0.01px;
  text-overflow: '';
}
