<h2>Карточки</h2>

<ul class="decks">
  <%= render @decks %>
  <li class="item item-new decks-item decks-item-new">
    <%= link_to "Добавить <br> колоду".html_safe, new_deck_path, class: "btn btn-sm btn-primary" %>
  </li>
</ul>

